.products-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 80px auto 80px;

    .sidebar li.active {
        font-weight: 500;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px $gutter;

        .product-price {
          color: $text-color-light;
        }
        .product {
            img {
                max-width: 100%;
                width: 235px;
                height: 230px;
                object-fit: scale-down;
                object-position: bottom;
                margin-bottom: 20px;
            }
        }
    }
}

.products-header {
    display: flex;
    justify-content: space-between;
}


